/* 
|                  |
|  Navigation menu |
|                  |
*/

.main-menu {
    top: 0;
    z-index: var(--z-nav);
    width: auto;
    display: flex;
    list-style: none;
    position: relative;
    align-items: center;
    justify-content: right;
    height: var(--header-height);
    background-color: var(--color-dark);
    border-bottom: 2px solid var(--color-dark-purple);
    padding-right: 5%;
}

@media only screen and (max-width: 300px) {
    .main-menu {
        padding-right: 5px;
    }
}

@media only screen and (max-width: 370px) {
    .main-menu {
        padding-right: 10px;
    }
}

@media only screen and (max-width: 450px) {
    .main-menu {
        padding-right: 15px;
    }
}

@media only screen and (max-width: 600px) {
    .main-menu {
        padding-right: 20px;
    }
}

.submenu {
    top: 104%;
    display: none;
    position: absolute;
    list-style-type: none;
    background-color: var(--color-dark);
    border-left: 2px solid var(--color-dark-purple);
    border-right: 2px solid var(--color-dark-purple);
    border-bottom: 2px solid var(--color-dark-purple);
}

.menu-item {
    position: relative;
}

.menu-item:hover .submenu {
    display: block;
}

.menu-link {
    display: block;
    font-size: 15px;
    padding: 12px 15px;
    text-align: center;
    text-decoration: none;
    color: var(--color-main-text);
}

@media only screen and (max-width: 370px) {
    .menu-link {
        padding: 3px 5px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 450px) {
    .menu-link {
        padding: 5px 8px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 600px) {
    .menu-link {
        font-size: 12px;
        padding: 8px 10px;
    }
}

.menu-link:hover {
    text-decoration: none;
    color: var(--color-pink-purple);
    text-decoration-color: var(--color-pink-purple);
    -moz-text-decoration-color: var(--color-pink-purple);
}